 .u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.55), rgba(0,0,0,0.55)), url("images/black-1072366_1280.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 800px;
}

.u-section-1 .u-text-1 {
  font-size: 3rem;
  font-weight: normal;
  margin: 395px auto 0 0;
}

.u-section-1 .u-text-2 {
  margin: 30px auto 0 0;
}

.u-section-1 .u-text-3 {
  margin: 122px auto 0 0;
}

.u-section-1 .u-text-4 {
  margin: 30px auto 60px 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 660px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 506px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 380px;
  }

  .u-section-1 .u-text-1 {
    font-size: 6rem;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 239px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3.75rem;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 1443px;
}

.u-section-2 .u-text-1 {
  font-weight: 700;
  font-size: 3rem;
  margin: 120px auto 0 0;
}

.u-section-2 .u-list-1 {
  grid-template-rows: auto auto;
  margin-top: 80px;
  margin-bottom: 60px;
}

.u-section-2 .u-repeater-1 {
  grid-template-columns: calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px);
  min-height: 1020px;
  grid-gap: 10px 10px;
}

.u-section-2 .u-container-layout-1 {
  padding: 10px;
}

.u-section-2 .u-image-1 {
  width: 180px;
  height: 180px;
  background-image: url("oscar.jpg");
  background-position: 50% 50%;
  margin: 10px auto 0;
}

.u-section-2 .u-text-2 {
  font-weight: 700;
  margin: 18px auto 0;
}

.u-section-2 .u-text-3 {
  margin: 10px auto 0;
}

.u-section-2 .u-text-4 {
  margin: 17px auto 0;
}

.u-section-2 .u-container-layout-2 {
  padding: 10px;
}

.u-section-2 .u-image-2 {
  width: 180px;
  height: 180px;
  background-image: url("ale.jpg");
  background-position: 50% 50%;
  margin: 10px auto 0;
}

.u-section-2 .u-text-5 {
  font-weight: 700;
  margin: 18px auto 0;
}

.u-section-2 .u-text-6 {
  margin: 10px auto 0;
}

.u-section-2 .u-text-7 {
  margin: 17px auto 0;
}

.u-section-2 .u-container-layout-3 {
  padding: 10px;
}

.u-section-2 .u-image-3 {
  width: 180px;
  height: 180px;
  object-position: 50% 0%;
  background-image: url("IMG_3768.jpg");
  background-position: 50% 50%;
  margin: 10px auto 0;
}

.u-section-2 .u-text-8 {
  font-weight: 700;
  margin: 18px auto 0;
}

.u-section-2 .u-text-9 {
  margin: 10px auto 0;
}

.u-section-2 .u-text-10 {
  margin: 17px auto 0;
}

.u-section-2 .u-container-layout-4 {
  padding: 10px;
}

.u-section-2 .u-image-4 {
  width: 180px;
  height: 180px;
  object-position: 50% 0%;
  background-image: url("Daren.png");
  background-position: 50% 50%;
  margin: 10px auto 0;
}

.u-section-2 .u-text-11 {
  font-weight: 700;
  margin: 18px auto 0;
}

.u-section-2 .u-text-12 {
  margin: 10px auto 0;
}

.u-section-2 .u-text-13 {
  margin: 17px auto 0;
}

.u-section-2 .u-container-layout-5 {
  padding: 10px;
}

.u-section-2 .u-image-5 {
  width: 180px;
  height: 180px;
  object-position: 50% 0%;
  background-image: url("black-1072366_1280-6.jpg");
  background-position: 50% 50%;
  margin: 10px auto 0;
}

.u-section-2 .u-text-14 {
  font-weight: 700;
  margin: 18px auto 0;
}

.u-section-2 .u-text-15 {
  margin: 10px auto 0;
}

.u-section-2 .u-text-16 {
  margin: 17px auto 0;
}

.u-section-2 .u-container-layout-6 {
  padding: 10px;
}

.u-section-2 .u-image-6 {
  width: 180px;
  height: 180px;
  object-position: 50% 0%;
  background-image: url("mengchu.jpg");
  background-position: 50% 50%;
  margin: 10px auto 0;
}

.u-section-2 .u-text-17 {
  font-weight: 700;
  margin: 18px auto 0;
}

.u-section-2 .u-text-18 {
  margin: 10px auto 0;
}

.u-section-2 .u-text-19 {
  margin: 17px auto 0;
}

.u-section-2 .u-container-layout-7 {
  padding: 10px;
}

.u-section-2 .u-image-7 {
  width: 180px;
  height: 180px;
  object-position: 50% 0%;
  background-image: url("black-1072366_1280-8.jpg");
  background-position: 50% 50%;
  margin: 10px auto 0;
}

.u-section-2 .u-text-20 {
  font-weight: 700;
  margin: 18px auto 0;
}

.u-section-2 .u-text-21 {
  margin: 10px auto 0;
}

.u-section-2 .u-text-22 {
  margin: 17px auto 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-repeater-1 {
    min-height: 841px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-repeater-1 {
    grid-template-columns: calc(50% - 5px) calc(50% - 5px);
    min-height: 1288px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-2 .u-container-layout-1 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-2 .u-container-layout-2 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-2 .u-container-layout-3 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-2 .u-container-layout-4 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-2 .u-container-layout-5 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-2 .u-container-layout-6 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-2 .u-container-layout-7 {
    padding-top: 0;
    padding-bottom: 0;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-text-1 {
    font-size: 1.5rem;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 1444px;
}

.u-section-3 .u-group-1 {
  min-height: 1418px;
  margin-top: -184px;
  margin-bottom: 60px;
  height: auto;
}

.u-section-3 .u-container-layout-1 {
  padding: 0 37px 0 0;
}

.u-section-3 .u-text-1 {
  font-weight: 700;
  font-size: 3rem;
  margin: 120px auto 0 0;
}

.u-section-3 .u-text-2 {
  margin: 80px auto 0 62px;
}

.u-section-3 .u-text-3 {
  margin: 20px auto 0 62px;
}

.u-section-3 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-3 .u-text-4 {
  margin: 20px auto 0 62px;
}

.u-section-3 .u-text-5 {
  margin: 27px auto 0 62px;
}

.u-section-3 .u-btn-2 {
  background-image: none;
  padding: 0;
}

.u-section-3 .u-btn-3 {
  background-image: none;
  padding: 0;
}

.u-section-3 .u-btn-4 {
  background-image: none;
  padding: 0;
}

.u-section-3 .u-btn-5 {
  background-image: none;
  padding: 0;
}

.u-section-3 .u-btn-6 {
  background-image: none;
  padding: 0;
}

.u-section-3 .u-btn-7 {
  background-image: none;
  padding: 0;
}

.u-section-3 .u-btn-8 {
  background-image: none;
  padding: 0;
}

.u-section-3 .u-text-6 {
  margin: 20px auto 0 62px;
}

.u-section-3 .u-text-7 {
  margin: 20px auto 0 62px;
}

.u-section-3 .u-btn-9 {
  background-image: none;
  padding: 0;
}

.u-section-3 .u-btn-10 {
  background-image: none;
  padding: 0;
}

.u-section-3 .u-btn-11 {
  background-image: none;
  padding: 0;
}

.u-section-3 .u-btn-12 {
  background-image: none;
  padding: 0;
}

.u-section-3 .u-btn-13 {
  background-image: none;
  padding: 0;
}

.u-section-3 .u-btn-14 {
  background-image: none;
  padding: 0;
}

.u-section-3 .u-btn-15 {
  background-image: none;
  padding: 0;
}

.u-section-3 .u-btn-16 {
  background-image: none;
  padding: 0;
}

.u-section-3 .u-btn-17 {
  background-image: none;
  padding: 0;
}

.u-section-3 .u-btn-18 {
  background-image: none;
  padding: 0;
}

.u-section-3 .u-btn-19 {
  background-image: none;
  padding: 0;
}

.u-section-3 .u-text-8 {
  margin: 20px auto 0 62px;
}

.u-section-3 .u-text-9 {
  margin: 20px auto 0 62px;
}

.u-section-3 .u-btn-20 {
  background-image: none;
  padding: 0;
}

.u-section-3 .u-btn-21 {
  background-image: none;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-group-1 {
    background-position: 50% 50%;
    height: auto;
  }

  .u-section-3 .u-container-layout-1 {
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-container-layout-1 {
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-container-layout-1 {
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-text-1 {
    font-size: 2.25rem;
  }
}